.card-actions {
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  height: 200px;
  position: relative;
  border: 2px solid #090953;
}
.card-actions:hover {
  border-color: #e0e0e0;
}
.container-actions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  max-width: 100%;
  width: 745px;
  margin: 0 auto;
}
.banner-actions {
  width: 100%;
  display: flex;
}
.bannerBloc-actions {
  margin: 1px;
  height: 215px;
}
.brend-actions {
  width: 150px;
  padding: 0px;
}
.bannerText-actions {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}
.bannerTextL-actions {
  margin-left: 5px;
  font-size: 15px;
  font-style: italic;
}
