body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f2f2f2;
}

nav li {
  display: inline-block;
  margin: 20px;
  border: 1px solid #090953;
  border-radius: 2px;
  width: calc(100% / 3);
  height: 120px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
}

.blokUpper-home {
  padding-top: 20px;
  color: #0909530d;
  font-weight: bold;
  background-color: #edf9ff;
}

.servicesUpper-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  bottom: 150px;
  color: #090953;
}

main {
  padding: 20px;
}

.searchBlocking-home {
  display: flex;
  margin-bottom: 20px;
  height: 130px;
}

.searchBlocking-home input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
}

.searchBlocking-home button {
  padding: 10px 20px;
  color: #090953;
  border: none;
  cursor: pointer;
}

.servicesBlock-home {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service-home {
  width: calc(33% - 20px);
  margin-bottom: 20px;
  text-align: center;
}

.service-home a {
  display: block;
  padding: 20px;
  border: 1px solid #ccc;
  text-decoration: none;
}
.blokUpper-home:hover {
  background-color: #bac5e4;
}

.service-home img {
  margin-bottom: 10px;
}

.proofs-home {
  text-align: center;
  background-image: url('../../../images/city.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 98%;
  height: 300px;
  padding: 10px;
  color: white;
  transition: background-color 0.3s;
}

.searchTerm-home {
  width: 80%;
  border: 3px solid #090953;
  margin-left: 10px;
  height: 25px;
  border-radius: 1px;
  outline: none;
  color: #9dbfaf;
}

.searchTerm-home:focus {
  color: #6e6e90;
}
.buttonSearch-home {
  width: 30px;
  border: 3px solid #090953;
  margin-top: 40px;
  margin-left: 6px;
  height: 30px;
  background-color: #ffffff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  border-top-right-radius: 5px;
}
.learnMoreButton-home {
  width: 130px;
  border: 3px solid #090953;
  margin-top: 40px;
  margin-left: 6px;
  height: 30px;
  background-color: #ffffff;
  color: #090953;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  cursor: pointer;
}
.learnMoreButton-home:active {
  transform: translateY(2px); /* Опустити кнопку на 5px */
  background-color: #ccc;
}
.buttonSearch-home:active {
  transform: translateY(2px);
  background-color: #bac5e4;
}
.img-home {
  width: 50px;
  height: 50px;
  margin-top: 25px;
  margin-left: 45%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 9px;
}
.img-home:active {
  transform: translateY(2px);
  border: 3px solid #090953;
}
.textPostal-home {
  font-weight: bold;
  text-align: center;
  color: #090953;
  font-size: 30px;
  margin-bottom: 20px;
}
.textPostalLitle-home {
  font-weight: bold;
  text-align: center;
  color: #090953;
  font-size: 15px;
}

.carImg-home {
  width: 100px;
  height: auto;
  border-radius: 6px;
}

.text-block button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.postalBloc:hover {
  background-color: #bac5e4;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
}
.postalBloc-home {
  height: 350px;
}
.searchBlocking-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background: radial-gradient(circle, #edf9ff 0%, #edf9ff 50%, #ffffff 100%);
  border-radius: 20px;
}
.buttonCommunication-home {
  padding: 10px 20px;
  margin-right: 40px;
  border: 3px solid #090953;
  background-color: #ffffff;
  color: #090953;
  border-radius: 5px;
  width: 185px;
  box-shadow: 0 5px 10px rgba(0.1, 0.1, 0.1, 0.1);
  border-radius: 5px;
}
.buttonCommunication-home:hover {
  background-color: #bac5e4;
  border: 3px solid #090953;
}
.find-the-index {
  font-family: 'Rubik Bold', sans-serif;
  color: #fefefe;
  font-size: 48px;
}
.searchIndex-home {
  margin-top: 20px;
  height: 30px;
  width: 230px;
}
.buttonIndex-home {
  height: 35px;
  width: 70px;
  background-color: #bac5e4;
  margin-left: 10px;
  border: 1px solid #ffffff;
  border-radius: 3px;
}
.buttonIndex-home:hover {
  margin-top: 2px;
  background-color: #90acf9;
}
.socImg-home {
  width: 160px;
  height: 50px;
  margin-left: 50px;
}
.blokabout-home {
  padding: 10px;
  flex: 1;
  text-align: center;
}
.conteinerAbout-home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.previewImg-home {
  width: 60px;
  height: 50px;
  margin-left: 70px;
  filter: grayscale(100%);
}
.postAnim-home {
  background-color: #bac5e4a1;
  height: 35px;
  padding-top: 0.5px;
}
