body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
  background-color: inherit;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f2f2f2;
}

nav li {
  display: inline-block;
  margin: 20px;
  border: 1px solid #090953;
  border-radius: 2px;
  width: calc(100% / 3);
  height: 120px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
}

.blokUpper {
  padding-top: 20px;
  color: #0909530d;
  font-weight: bold;
  background-color: #edf9ff;
}

.servicesUpper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  bottom: 150px;
  color: #090953;
}

main {
  padding: 20px;
}

.search-block {
  display: flex;
  margin-bottom: 20px;
  height: 130px;
}

.search-block input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
}

.search-block button {
  padding: 10px 20px;
  color: #090953;
  border: none;
  cursor: pointer;
}

.services-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service {
  width: calc(33% - 20px);
  margin-bottom: 20px;
  text-align: center;
}

.service a {
  display: block;
  padding: 20px;
  border: 1px solid #ccc;
  text-decoration: none;
}
.blokUpper:hover {
  background-color: #bac5e4;
}

.service img {
  margin-bottom: 10px;
}

.proofs-block {
  text-align: center;
  background-image: url('../../../images/city.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 98%;
  height: 300px;
  padding: 10px;
  color: white;
  transition: background-color 0.3s;
}

.searchTerm {
  width: 80%;
  border: 3px solid #090953;
  margin-left: 10px;
  height: 25px;
  border-radius: 1px;
  outline: none;
  color: #9dbfaf;
}

.searchTerm:focus {
  color: #6e6e90;
}
.button-search {
  width: 30px;
  border: 3px solid #090953;
  margin-top: 40px;
  margin-left: 6px;
  height: 30px;
  background-color: #ffffff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  border-top-right-radius: 5px;
}
.learnMoreButton {
  width: 130px;
  border: 3px solid #090953;
  margin-top: 40px;
  margin-left: 6px;
  height: 30px;
  background-color: #ffffff;
  color: #090953;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  cursor: pointer;
}
.learnMoreButton:active {
  transform: translateY(2px); /* Опустити кнопку на 5px */
  background-color: #ccc;
}
.button-search:active {
  transform: translateY(2px);
  background-color: #bac5e4;
}
.boxImg {
  width: 50px;
  height: 50px;
  margin-top: 25px;
  margin-left: 45%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 9px;
}
.boxImg:active {
  transform: translateY(2px);
  border: 3px solid #090953;
}
.text-postalServices {
  font-weight: bold;
  text-align: center;
  color: #090953;
  font-size: 30px;
}
.text-postalServiceslitle {
  font-weight: bold;
  text-align: center;
  color: #090953;
  font-size: 15px;
}

.carImg {
  width: 100px;
  height: auto;
  border-radius: 6px;
}

.text-block button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.postalServicesBloc:hover {
  background-color: #bac5e4;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
}
.postalServicesBloc {
  height: 350px;
}

.search-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background: radial-gradient(circle, #edf9ff 0%, #edf9ff 50%, #ffffff 100%);
  border-radius: 20px;
}

.text-postalServices {
  margin-bottom: 20px;
}

.button-communication {
  padding: 10px 20px;
  margin-right: 40px;
  border: 3px solid #090953;
  background-color: #ffffff;
  color: #090953;
  border-radius: 5px;
  width: 185px;
  box-shadow: 0 5px 10px rgba(0.1, 0.1, 0.1, 0.1);
  border-radius: 5px;
}
.button-communication:hover {
  background-color: #bac5e4;
  border: 3px solid #090953;
}
.find-the-index {
  font-family: 'Rubik Bold', sans-serif;
  color: #fefefe;
  font-size: 48px;
}
.searchIndex {
  margin-top: 20px;
  height: 30px;
  width: 230px;
}
.button-index {
  height: 35px;
  width: 70px;
  background-color: #bac5e4;
  margin-left: 10px;
  border: 1px solid #ffffff;
  border-radius: 3px;
}
.button-index:hover {
  margin-top: 2px;
  background-color: #90acf9;
}
.socImg {
  width: 160px;
  height: 50px;
  margin-left: 50px;
}
.blokabout {
  padding: 10px;
  flex: 1;
  text-align: center;
}
.conteinerAbout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.previewImg {
  width: 60px;
  height: 50px;
  margin-left: 70px;
  filter: grayscale(100%);
}
.postAnim {
  background-color: #bac5e4a1;
  height: 25px;
}
