.background-registration {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #edf9ff;
}
.container-registration {
  width: 210mm;
  height: 172mm;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  box-sizing: border-box;
}
.caption-registration {
  margin-left: 30px;
  color: #090953;
}
.formGroup-registration {
  margin-bottom: 15px;
}
.input-registration {
  margin-left: 10px;
  border-radius: #090953;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border: 3px solid #090953;
}
.button-registration {
  height: 30px;
  margin-left: 10px;
  border-radius: #090953;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border: 3px solid #090953;
  color: #090953;
  border-radius: 5px;
}
