.container-transportationAnimals {
  background: radial-gradient(circle, #ffffff 0%, #cde0ea 50%, #ffffff 100%);
  color: #090953;
  padding: 20px;
  font-family: 'Arial', sans-serif;
}

.background-transportationAnimals {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
}

.listNumber-transportationAnimals {
  background-color: #bac5e4a1;
  color: #0d1c32;
  border-radius: 50%;
  padding: 10px;
  margin-right: 10px;
  font-weight: bold;
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
}
.allowedAnimals-transportationAnimals {
  background-color: #090953;
  padding: 20px;
  border-radius: 10px;
  color: white;
}

.allowedAnimals-transportationAnimals h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.allowedAnimals-transportationAnimals ul {
  list-style-type: none;
  padding: 0;
}

.allowedAnimals-transportationAnimals ul li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.checkIcon-transportationAnimals {
  background-color: #bac5e4a1;
  color: white;
  border-radius: 50%;
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  margin-right: 10px;
  font-size: 1.5rem;
}
.faqQuestion-transportationAnimals {
  width: 100%;
  min-height: 80px;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding: 15px 25px;
  cursor: pointer;
  border: 1px solid rgb(248, 249, 250);
  border-radius: 8px;
  background-color: transparent;
  color: #ffffff;
  font-size: 25px;
  font-weight: bold;
}
.faqAnswer-transportationAnimals {
  margin-left: 20px;
  font-size: 20px;
}

.contactSection-transportationAnimals {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.contactConsultant-transportationAnimals,
.orderForm-transportationAnimals {
  width: 45%;
}

.consultantInfo-transportationAnimals {
  text-align: center;
}

.socialIconsImg-transportationAnimals {
  width: 60px;
  object-fit: contain;
}

.orderForm-transportationAnimals input,
.orderForm-transportationAnimals textarea {
  width: 90%;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.orderForm-transportationAnimals textarea {
  height: 100px;
}

.btn-transportationAnimals {
  background-color: #bac5e4a1;
  color: white;
  border: none;
  padding: 15px;
  width: 95%;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.btn-transportationAnimals:hover {
  background-color: #6889efa1;
}
.img-transportationAnimals {
  width: 150px;
}
h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

h3 {
  margin-top: 20px;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  font-size: 18px;
  margin-bottom: 15px;
  display: flex;
  align-items: flex-start;
}
