.appHeader {
  display: flex;
  width: 100%;
  justify-content: right;
  color: #ffffff;
  background-color: #090953;
  height: 38px;
}
.background {
  display: flex;
  justify-content: center;
  background-color: #edf9ff;
  height: auto;
}
.logo-clientLayout {
  margin: 0 auto;
  margin-top: 5px;
  transform: translateX(120px);
}
.logo-clientLayout span {
  font-size: 25px;
}
.buttons-clientLayout {
  display: flex;
  gap: 10px;
  float: right;
  margin-right: 1px;
}

.btnLogin-clientLayout {
  padding: 10px 20px;
  border: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  background-color: #090953;
}
.person-clientLayout {
  width: 25px;
  height: 27px;
  margin-top: 6px;
}
